<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net"
           type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="packages.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="20MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level - %message%newline" />
			</layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
      <!--<filter type="log4net.Appender.RollingFileAppender">
        <levelMin value="FATAL" />
        --><!--<levelMax value="FATAL" />--><!--
      </filter>-->
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
      
      <!--<filter type="log4net.Appender.ConsoleAppender">
        <levelMin value="ALL" />
        <levelMax value="ERROR" />
      </filter>-->
		</appender>
		<root>
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
			<!--<level value="FATAL" />
			<appender-ref ref="RollingFileAppender" />
      <level value="ERROR" />
			<appender-ref ref="ConsoleAppender" />-->
		</root>
	</log4net>
	<appSettings>
		<add key="FileList" value="packages.lst"/>
		<add key="FTPAddress" value="ftp://50.63.138.151/" />
		<add key="FTPPort" value="21"/>
		<add key="FTPUserName" value="ftp_TrialMax@pt-staging.com" />
		<add key="FTPPassword" value="049150021021217147084113186243133167143002021034" />
		<add key="DependencyFilePath" value="TrialMaxDependencies/" />
		<add key="DependencyFileName" value="TrialMaxDependencies.zip" />
		<add key="LatestBuildFilePath" value="Build-7.0.56/" />
		<add key="LatestBuildFileName" value="trialmax_7.0.56_Standard_Setup.zip" />
		<add key="SourceFolder" value="./.packages/" />
		<add key="TargetFolder" value="../../" />
	</appSettings>
</configuration>