#ifndef APSTUDIO_INVOKED

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_TMDB_FILENOTFOUND		"Unable to open the database. %1 not found."
    IDS_TMDB_OPENDBFAILED		"Unable to open the database file for the case.\n\nFilename = %1"
    IDS_TMDB_OPENRSFAILED		"Unable to open the recordset for the %1 table."
    IDS_TMDB_MEMERROR			"There is insufficient memory to perform the database operation. Try closing some applications first."
    IDS_TMDB_INVALIDRECORDSET   "An attempt was made to access an invalid record set."
    IDS_TMDB_DBNOTOPEN			"The TrialMax library is unable to process the request because the database is not open."
	IDS_TMDB_NOVERSIONINFO		"Unable to retrieve revision information from the database. "
	IDS_TMDB_INVALIDPARAM		"Unable to complete the operation. An invalid parameter was passed to CTMDatabase::%1."
	IDS_TMDB_INVALIDVERSION		"The database contains incomplete version information. TrialMax may not work reliably with this database."
	IDS_TMDB_VERSIONMATCH		"The TrialMax and database revision numbers do not match. %1"
	IDS_TMDB_ALIASNOTFOUND		"Unable to locate specified drive/server alias: Id = %1"
	IDS_TMDB_NOALIASNODE		"Unable to locate the XML node containing the aliasing information in %1 using XPath query: %2"
	IDS_TMDB_NOCASEOPTIONS		"Unable to locate the case options file: %1"
	IDS_TMDB_CREATECASEOPTIONS	"Unable to create the XML document for the case options file: %1"
	IDS_TMDB_LOADCASEOPTIONS	"Unable to load the XML document for the case options file: %1"
	IDS_TMDB_NOCASEPATHNODE		"Unable to locate the XML case path node in %1 using XPath query: %2"
	IDS_TMDB_BADCASEPATHNODE	"Invalid XML %1 case path node in %2"
	IDS_TMDB_NOMACHINENAME		"Unable to retrieve the machine name to load the case options"
	IDS_TMDB_NOMACHINENODE		"Unable to locate the XML machine path map node in %1 using XPath query: %2"
	IDS_TMDB_BADMACHINENODE		"Invalid XML machine path map node in %1\n\nXPath = %2"
	IDS_TMDB_NOPATHMAPNODE		"Unable to locate the XML path map node in %1 using XPath query: %2"
	IDS_TMDB_NOTRANSCRIPTRECORD	"Unable to locate the deposition's transcript record: %1"
	IDS_TMDB_NOSEGMENTS			"Unable to locate the deposition's segment records: %1"
	IDS_TMDB_NOSEGMENTVIDEO		"Unable to locate the segment's video file: SecondaryId = %1"
END

#endif
